body {
    position: fixed;
    top: 10px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background-color: aquamarine;
}
form
label {
    display: block;
    padding: 10px;
}
form{
    width: 270px;
    margin: 28px;
    background-color: blue;
}
label {
    color: aqua;
    text-align: left;
    padding: 10px;
    padding-left: 1%;
    display: 4px; ;
}